
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
/* HTML: <div class="loader"></div> */
.loader {
    width: 10vw;
    height: 15vh;
    display: grid;
    color: #f5eded;
    background:
      linear-gradient(currentColor 0 0) top/100% 4px,
      radial-gradient(farthest-side at  top, #0000 calc(100% - 4px),currentColor calc(100% - 2px) ,#0000) top,
      linear-gradient(currentColor 0 0) bottom/100% 4px,
      radial-gradient(farthest-side at  bottom, #0000 calc(100% - 4px),currentColor calc(100% - 2px) ,#0000) bottom;
    background-size: 100% 5px,100% 50%; 
    background-repeat: no-repeat;
    animation: l18 4s infinite linear;
  }
  .loader::before,
  .loader::after {
    content: "";
    grid-area: 1/1;
    background: inherit;
    border: inherit;
    animation: inherit;
  }
  .loader::after {
    animation-duration: 2s;
  }
  @keyframes l18 {
    100% {transform: rotate(1turn)}
  }